@page
@model NoweM.ListaModel
@{
    ViewData["Title"] = "Lista";
}

<h1>Nowe domy w Płocku</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach(var house in Model.Houses)
    {
        <tr>
            <td>@house.Address</td>
            <td>@house.NumberOfHouses</td>
            <td>@house.HType</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail" 
                   asp-route-houseId="@house.Id"
                   >
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>

@Model.Message <br />

@Model.MessageFromConfig

